*{
	box-sizing: border-box;
}

.main-grid-container{
	display:block;
	width: clamp(18.75rem,80%,100rem);
	margin:0 auto;
	height:100%;
}


.main-grid{
	display:grid;
	grid-template-columns:repeat(12,1fr);
	height:100%;
}

.main-grid.checkout-page{
	background-color: white;
	display:grid;
	grid-template-columns:repeat(18,1fr);
}

.main-grid.confirmation-page{
	background-color: white;
	display:grid;
	grid-template-columns:repeat(18,1fr);
}

.right-side-menu{
	grid-column:12/19;
	height:auto;
	position:sticky;
	bottom:0;
}

.left-side-menu{
	grid-column:3/10;
	margin-top:5rem;
	/*display:grid;
	grid-template-columns:repeat(5, 1fr);*/
}

.top-mobile-menu{
	grid-column:1/19;
	margin-top:2.5rem;
	display:grid;
	grid-template-columns: repeat(18,1fr);

	visibility: hidden;
	position:fixed;
}

/*Media Queries=========================================================================================================*/

/*Large Inbetween (1216px)----------------------------------------------------------------------------------------------*/
@media screen and (max-width:76em){
	h1{
		/*font-size:2.5rem;*/
	}

	p{
		/*font-size:1rem;*/
	}

	.date-and-time-calendar, .date-and-time-input{
		grid-column:1/8;
	}

	.checkout-product-preview-menu{	
		padding:5rem 2.5rem 2.5rem 2.5rem;
	}
}


/*Small Window (1200px)------------------------------------------------------------------------------------------------*/
@media screen and (max-width:75em){
	/***References Page***/
	.references-background h2{
		font-size:1.5rem;
	}

	/*#references-images-and-copywriting{
		grid-column:1/7;
	}

	#references-icons{
		grid-column: 1/7;
	}*/

}

/*Inbetween (920px)*/
@media screen and (max-width:58em){
	.info-express-buttons{
		flex-direction:column;
		align-items:center;
	}

	.info-express-buttons button{
		width:40%;
		margin:0.625rem 1.25rem 0.625rem 1.25rem;
	}

	/***Cart Page***/
	.product-order-box-overview-wrapper{
		grid-column: 1/span 12;
		margin: 0;
	}

	.product-order-donut-counters-wrapper{
		grid-column: 1/span 12;
		margin:0;
	}

	.product-order-donut-counters-wrapper h2{
		visibility: hidden;
		position:fixed;
	}
	.product-order-donut-counters-wrapper h3{
		visibility: hidden;
		position:fixed;
	}
	.product-order-donut-counters-wrapper h4{
		visibility: hidden;
		position:fixed;
	}

	.product-order-donut-counters-left{
		grid-row:1;
	}

	.product-order-donut-counters-center{
		grid-row:1;
	}

	.product-order-donut-counters-right{
		grid-row:1;
	}

	.product-order-donut-counters-grid .cta-button{
		grid-row:2;
	}

	.small-window-text{
		visibility: visible;
		position:relative;
	}

	.product-order-box-overview-donuts{
		margin:0;
	}

	.product-order-box-overview-donuts img{
		width:100%;
	}

	.product-order-box-overview-return{
		margin:0;
	}


/*Inbetween (840px)------------------------------------------------------------------------------------------------*/
@media screen and (max-width:53em){
	/***References Page***/
	#references-images-and-copywriting{
		grid-column:1/13;
	}

	#references-icons{
		grid-column: 1/11;
	}

	#references-code{
		grid-column:1/13;
	}

}




/* #Tablet Devices (768px)----------------------------------------------------------------------------------------------*/
@media screen and (max-width:48em){
	/*GLOBAL===============*/
	.main-grid-container{
		width: clamp(18.75rem,80%,100rem);
		margin:auto;
	}

	/*TYPOGRAPHY-----------*/
	h1{
		font-size:3rem;
	}

	h2{
		font-size:1.75rem;
	}

	h3{
		font-size:1.3rem;
	}

	/* #ABOUT US PAGE------------*/
	.message{
		text-align: center;
		padding:2rem 2rem;
		justify-content: center;
	}

	.signature{
		margin:0 auto;
	}

	/* #CHECKOUT PAGE------------*/
	h1{
		/*font-size:2.5rem;*/
	}

	.main-grid.checkout-page h4{
		text-align:center;
	}

	#order-info h4{
		text-align:left;
	}


	p{
		/*font-size:1rem;*/
	}

	.right-side-menu{
		grid-column:1/19;
		position:fixed;
		visibility: hidden;
	}

	.checkout-product-preview-menu{	
		padding:2.5rem 1.25rem 2.5rem 1.25rem;
		position:static;
		top:0;
	}

	.product-name-and-value, .subtotal-name-and-value, .shipping-name-and-value, .total-value{
		margin-left:2.5rem;
		margin-right:2.5rem;
	}

	.left-side-menu{
		grid-column:2/18;
		margin-top:1.25rem;
		/*display:grid;
		grid-template-columns:repeat(5, 1fr);*/
	}

	.top-mobile-menu{
		visibility: visible;
		position:static;
	}

	.header-bar-mobile-wrapper{
		grid-template-columns: 1fr 1fr 1fr;
		padding-left:2.5rem;
		padding-right:2.5rem;
	}

	.text-information{
		grid-column:1/2;
	}

	.price-information{
		grid-column:3/4;
	}

	#header-checkout{
		visibility: hidden;
		position:fixed;
	}

	.date-and-time-header{
		visibility: hidden;
		position: fixed;
	}

	.date-and-time-header-mobile{
		visibility: visible;
		position:static;
		margin-top:2.5rem;
		margin-bottom:1.25rem;
	}

	.date-and-time-header-mobile h4{
		margin-top:0rem;
	}


	.receiving-method-buttons{
		flex-direction: row;
		justify-content: center;
		align-items:center;
	}

	#date-and-time h4{
		grid-column:1/9;
	}

	.date-and-time-calendar, .date-and-time-input{
		grid-column:1/9;
	}

	/*Info section*/
	.info-express-checkout{
		visibility: hidden;
		position:fixed;
	}

	.info-express-checkout-mobile{
		visibility: visible;
		margin-top:5rem;
		position:static;
	}

	.info-express-checkout-mobile h4{
		margin-top:0;
	}

	.info-express-buttons{
		flex-direction:row;
		align-items:center;
	}

	.info-express-buttons button{
		width:40%;
		margin:0.625rem 1.25rem 0.625rem 1.25rem;
	}

	.divider-line.under{
		visibility:hidden;
		position:fixed;
	}

	.info-express-mobile-bottom{
		visibility: visible;
		position:static;
		margin-top:2.5rem;
	}

	.info-express-mobile-bottom h4{
		margin: 0rem 1.25rem 0rem 1.25rem;	
	}

	.names-section{
		flex-direction:column;
	}

	.address-section{
		visibility: hidden;
		position:fixed;
	}
	.address-section-mobile{
		visibility:visible;
		margin-top:2.5rem;
		position:static;
	}

	/*Payment*/
	.payment-forms{
		visibility:hidden;
		position:fixed;
	}

	.payment-forms-mobile{
		visibility:visible;
		position:static;
	}


	/***Confirmation Page***/
	.checkout-product-preview-menu.mobile{
		visibility: visible;
		position:static;
	}

	/***References Page***/
	#references-icons{
		grid-column: 1/13;
	}

	/***Shop Page***/
	.shop-info-wrapper{
		grid-column: 1/span 12;
	}

	.product-grid-wrapper{
		grid-column: 1/span 12;
	}
}

/*Inbetween (688px)----------------------------------------------------------------------------------------------*/
@media screen and (max-width: 43em){
	.header-bar-mobile-wrapper{
		padding-left:2rem;
	}

	/***Shop Page***/
	.order-bill-wrapper h3{
		padding:0;
	}

	.order-bill-wrapper h4{
		padding:0;
	}

	.order-tracker-bar-wrapper .cta-button{
		margin:0;
	}
}


/*Inbetween (608px)----------------------------------------------------------------------------------------------*/
@media screen and (max-width:38em) {
	/***Checkout Page***/
	h1{
		/*font-size:2.5rem;*/
	}

	p{
		/*font-size:1rem;*/
	}

	.left-side-menu{
		grid-column:2/18;
		margin-top:1.25rem;
		/*display:grid;
		grid-template-columns:repeat(5, 1fr);*/
	}

	.top-mobile-menu{
		visibility: visible;
		position:static;
	}

	.header-bar-mobile-wrapper{
		grid-template-columns: 1fr 0.5fr 1fr;
		padding-left:2rem;
		padding-right:2.5rem;
	}

	.text-information{
		grid-column:1/2;
	}

	.price-information{
		grid-column:3/4;
	}

	/*Info section*/
	.info-express-checkout-mobile h4{
		margin-top:0;
	}
}

/*Inbetween (560px)----------------------------------------------------------------------------------------------*/
@media screen and (max-width:35em){
	.header-bar-mobile-wrapper{
		grid-template-columns: 1fr 0.25fr 1fr;
		padding-left:1.75rem;
	}

	/***Shop Page***/
	.product-grid-wrapper{
		display:grid;
		grid-template-columns: 1fr;
	}

	.shop-heading{
		text-align:center;
	}

	.shop-info-grid{
		display:grid;
		grid-template-columns: 2fr;
	}

	.symbol-legend-vegan{
		grid-row: 1;
		grid-column: 1;
	}

	.symbol-legend-gluten-free{
		grid-row:1;
		grid-column: 2;
	}

	.shop-info-note{
		text-align: center;
		padding-right:0;
		padding-bottom: 1.5rem;
	}

	.order-bill-wrapper h3{
		padding:0;
	}

	.order-bill-wrapper h4{
		padding:0;
	}

}

/* #Mobile Devices (480px)----------------------------------------------------------------------------------------------*/
@media screen and (max-width:30em){
	/*GLOBAL===============*/

	/* #ABOUT US PAGE------------*/
	.message{
		text-align: center;
		padding:2rem 1rem;
	}	

	/*TYPOGRAPHY-----------*/
	h1{
		font-size:2rem;
	}

	h2{
		font-size:1.5rem;
	}

	h3{
		font-size:1.25rem;
	}

	/***Checkout Page***/
	h1{
		font-size:3rem;
	}


	h2{
		font-size:1.5rem;
	}

	h3{
		font-size:1.25rem;
	}

	p{
		/*font-size:1rem;*/
	}

	.right-side-menu{
		grid-column:1/19;
		position:fixed;
		visibility: hidden;
	}

	.checkout-product-preview-menu{	
		padding:2.5rem 1.25rem 2.5rem 1.25rem;
		position:static;
		top:0;
	}

	.product-name-and-value, .subtotal-name-and-value, .shipping-name-and-value, .total-value{
		margin-left:2.5rem;
		margin-right:2.5rem;
	}

	.left-side-menu{
		grid-column:2/18;
		margin-top:1.25rem;
		/*display:grid;
		grid-template-columns:repeat(5, 1fr);*/
	}

	.header-bar-mobile-wrapper{
		grid-template-columns: 1fr 0fr 1fr;
		padding-left:1.25rem;
		padding-right:1.25rem;
	}

	.top-mobile-menu{
		visibility: visible;
		position:static;
	}

	#header-checkout{
		visibility: hidden;
		position:fixed;
	}

	.date-and-time-header{
		visibility: hidden;
		position: fixed;
	}

	.date-and-time-header-mobile{
		visibility: visible;
		position:static;
		margin-top:2.5rem;
		margin-bottom:1.25rem;
	}

	.date-and-time-header-mobile h4{
		margin-top:0rem;
	}


	.receiving-method-buttons{
		flex-direction: column;
		align-items:center;
	}

	#date-and-time h4{
		grid-column:1/9;
	}

	.date-and-time-calendar, .date-and-time-input{
		grid-column:1/9;
	}

	.info-express-buttons{
		flex-direction:column;
		align-items:center;
	}

	/*Info section*/
	.info-express-checkout{
		visibility: hidden;
		position:fixed;
	}

	.info-express-checkout-mobile{
		visibility: visible;
		margin-top:5rem;
		position:static;
	}

	.info-express-checkout-mobile h4{
		margin-top:0;
	}

	.info-express-buttons{
		flex-direction:column;
		align-items:center;
	}

	.info-express-buttons button{
		width:40%;
		margin:0.625rem 0rem 0.625rem 0rem;
	}

	.divider-line.under{
		visibility:hidden;
		position:fixed;
	}

	.info-express-mobile-divider-line{
		visibility: visible;
		position:static;
		margin-top:2.5rem;
	}

	.info-express-mobile-divider-line h4{
		margin: 0rem 1.25rem 0rem 1.25rem;	
	}

	.names-section{
		flex-direction:column;
	}

	.address-section{
		visibility: hidden;
		position:fixed;
	}
	.address-section-mobile{
		visibility:visible;
		margin-top:2.5rem;
		position:static;
	}

	/*Payment*/
	.payment-forms{
		visibility:hidden;
		position:fixed;
	}

	.payment-forms-mobile{
		visibility:visible;
		position:static;
	}

	/***Cart Page***/

	.product-order-box-overview-wrapper{
		padding:0;
	}

	.shop-info-wrapper{
		padding-left:2rem;
		padding-right:2rem;
	}

	.symbol-legend-vegan{
		padding-right:1rem;
	}

	.legend-symbol{
		padding-right:0.5rem;
	}


	.product-order-donut-counters-grid{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows:auto auto auto;
		grid-gap:0;
	}

	.product-order-donut-counters-left{
		grid-column:1;
		grid-row:1;
	}

	.product-order-donut-counters-center{
		grid-column:2;
		grid-row:1;
		padding-left: 1.25rem;
	}

	.product-order-donut-counters-right{
		grid-column:1/span 2;
		grid-row:2;
		display:grid;
		grid-template-columns: 2;
	}

	.small-left{
		grid-column: 1;
	}

	.small-right{
		grid-column: 2;
		grid-row:1;
		padding-left: 1.25rem;
	}

	.product-order-donut-counters-wrapper .cta-button{
		grid-row:3;
		grid-column: 1;
		margin-bottom:2rem;
	}


}

/*Smaller Inbetween (384px)----------------------------------------------------------------------------------------------*/
@media screen and (max-width: 24em){
	.header-bar-mobile-wrapper{
		grid-template-columns: 1.5fr 0fr 1fr;
	}

	/***Shop Page***/


}




