*{
	box-sizing: border-box;
}


.main-grid-container{
	display:block;
	width: clamp(18.75rem,80%,100rem);
	margin:0 auto;
}


.main-grid{
	display:grid;
	grid-template-columns:repeat(12,1fr);
}

.main-grid.checkout-page{
	background-color: white;
	display:grid;
	grid-template-columns:repeat(18,1fr);
}

.right-side-menu{
	grid-column:12/19;
	height:auto;
}

.left-side-menu{
	grid-column:3/10;
	margin-top:5rem;
}




