/*GLOBAL===========================================================================================*/

*{
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}


/*MAIN NAV BAR------------------------------------------------------------------------------------*/
.main-nav-wrapper{
	width:100%;	
	display:flex;
	/*justify-content: space-between;*/
	align-items:center;
	padding: 1rem 2rem;
}

.main-nav-links{
	display:flex;
	/*justify-content: space-between;*/
	align-items:center;
}

.main-nav-links a{
	padding-top:0;
	padding-bottom:0;
}

.main-nav-links a:hover{
	text-decoration: underline;
}

.toggler, .hamburger, .hamburger-line{
	display:none;
}

.dippd-logo{
	display:inline-block;
	width:clamp(100px,100px,150px);
}

.cart-icon{
	background-image: url('../img/shopping-cart-icon.png');
	background-repeat: no-repeat;
	background-position:center;
	width:60px;
	height:60px;
}

.cart-icon:hover{
	background-image: url('../img/shopping-cart-icon-hover.png');
}

.cart-icon-dark{
	background-image: url('../img/shopping-cart-icon-dark.png');
	background-repeat: no-repeat;
	background-position:center;
	width:60px;
	height:60px;
}

.cart-icon-dark:hover{
	background-image: url('../img/shopping-cart-icon-hover-dark.png');
}

.cart-icon-open-mobile{
	background-image: url('../img/shopping-cart-icon-open-mobile.png');
	background-repeat: no-repeat;
	background-position:center;
	width:30px;
	height:30px;
}

.dark-mode{
	color:black;
}

.divider-line{
	display:block;
	width:clamp(70%,75%,80%);
	height:1px;
	background-color: #bbb;
	margin: 1em 0;
	padding:0;
}

header{
	position:sticky;
	top:0;
	width:100%;
	background-color:#6339A1;	
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding: 1rem 2.5rem;
	border-bottom:.25px solid rgba(0,0,0,.3);
	z-index: 999;
}

nav a{
	color:white;
	/*display:inline-block;*/
	padding:1rem;
	text-decoration:none;
	margin-left:2rem;
	font-weight:500;
}

footer{
	position: relative;
	z-index: 3;
}


/* HAMBURGER MENU --------------------------------------------------------------------------------- */ 

.toggler{
	box-shadow: none;	
}

.menu-wrap{
	visibility: hidden;
}

.hamburger-menu{
	color:white;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	visibility: hidden;

	position:fixed;
	top: 10;
	right: 0;
	width:100%;
	height: 100%;
	overflow:hidden;
	background-color: #6339A1;

	transform: opacity 0.4s;
	opacity: 0;
	}

.d-logo{
	width:50px;
	}

.hamburger-menu > .divider-line{
	width:35%;
	margin:1rem auto;
	background-color: white;
	}

.hamburger-menu > a{
	margin:0;
	}

.toggler{
	position: absolute;
	left:0;
	z-index: 2;
	cursor: pointer;
	width:50px;
	height:50px;
	opacity: 0;
	margin-left:40px;
	margin-top:50px;
}
 
 .hamburger{
	top: 0;
	right: 0;
	z-index: 1;
	width:60px;
	height:60px;
	padding: 0.5rem;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

/* HAMBURGER MENU LINES*/
.hamburger-line {
	position: relative;
	width: 100%;
	height: 2px;
	background-color:white;
	display:flex;
	align-items: center;
	justify-content: center;
}

.dark{
	background-color: black;
}

#top {
	top:-7.5px;
}

#bottom {
	top:7.5px;
}

/* HAMBURGER MENU TOGGLE*/
.toggler:checked ~.hamburger-menu{
	visibility: visible;
	transition: opacity .4s;
	opacity: 1;
}

/* TOGGLER ANIMATE */
.toggler:checked + .hamburger{
	transform: rotate(135deg);
	transition: transform .4s;
}

/* TURN LINES INTO X */
.toggler:checked + .hamburger > #top {
	top: 1px;
	transform: rotate(90deg);
	transition: transform .4s;
}

.toggler:checked + .hamburger > #bottom {
	top: -1px;
	transform: rotate(90deg);
	transition: transform .4s;
}


/*HAMBURGER NAV DROPDOWN-----------------------------------------------------------*/
/*Hamburger menu positioning source: https://stackoverflow.com/questions/54613785/how-to-stop-dropdown-menu-from-pushing-content-down*/
#dropdown{
	position:absolute;
	top:100px;
	left:0;
	z-index:999;
	width:100%;

	display:none;
	/*visibility:hidden;*/
}

#dropdown h5{
	font-weight: 400;
	color:white;
}

.dropdown-wrapper{
	position:fixed;
	width:100%;
}

.opacity{
	width:100%;
	z-index: 1000;
	position:fixed;
	/*background:rgb(0,0,0,.5);*/
	background:red;
}


/*.toggler:checked ~#dropdown{
	visibility: visible;
	transition: opacity .4s;
	opacity: 1;
}
*/
#dropdown.active{
	display:block;
}

#dropdown .divider-line.top{
	margin:0;
	width:100%;
	height:2px;
}

.dropdown-menu{
	background:#8E54BA;
	padding-left:3rem;
	padding-right:3rem;
}

.dropdown-menu .divider-line{
	width:100%;
}

.dropdown-nav-links a{
	margin-left:0;
	font-weight:600;
}

.dropdown-nav-links{
	display:flex;
	flex-direction: column;	
	align-items:center;
	padding-top:1.25rem;
}

.dropdown-nav-instagram{
	display:grid;
	grid-gap:0.4rem;
	grid-template-rows:1fr;
	grid-template-columns:4% 96%;
	align-self:center;
	text-decoration: none;
}

.dropdown-nav-instagram a{
	text-decoration:none;
	color:white;
	grid-row:1;
	align-self:center;
	margin:0;
}

.dropdown-nav-instagram img{
	grid-row:1;
	align-self:center;
	justify-self:end;
}

.dropdown-nav-instagram .nav-instagram-logo{
	align-self:center;
	justify-self:end;
}

.dropdown-nav-instagram h5{
	margin-bottom:1.75rem;

}









/*TYPOGRAPHY-----------------------------------------------------------------------*/

body{
	font-family:montserrat, sans-serif;
/*	background-color: #6339A1;*/
	margin:0;
	padding:0;
}

h1{
	font-size:4rem;
	margin:0;
}

h2{
	font-size:2rem;
}

h3{
	font-size:1.5rem;
	font-weight: normal;
}

h4{
	font-size:1.25rem;
	font-weight: normal;
}

h5{
	/*Look for Footer CSS*/
}

p{
	font-size:1rem;
	font-family: "ubuntu mono", monospace;
	font-weight: 400;
}

a{
	color:#001AFF;
	display:inline-block;
	/*transition: transform .2s; *//* Animation */
}


/*FOOTER-------------------------------------------------------------------------------*/
.container-footer-1600{
	display:block;
	margin:0 auto;
	width: clamp(18.75rem,80%,100rem);
}

.footer-grid-wrapper h5{
	font-family: 'montserrat', sans-serif;
	margin:0;
	font-size:1rem;
}

.footer-grid-wrapper{
	color:white;
	display:grid;
	grid-template-rows:3fr 1fr;
}

.footer-copyright-wrapper{
	text-align:center;
	grid-row:2;
	display:flex;
	align-items: center;
	justify-content: center;
	width:100%;
}

.footer-copyright-wrapper p{
	font-size:.75rem;
	width:clamp(45ch,50%,75ch);
}

.footer-list-wrapper{
	grid-row:1;
	display:flex;
	align-items: baseline;
	justify-content: space-between;
	width:100%;

	padding:3rem;
	font-family:"ubuntu mono", monospace;
	font-weight:lighter;
}

.footer-list-wrapper a:hover{
	text-decoration:underline;
}

.footer-icons-wrapper a:hover{
	text-decoration:none;
}

.footer-grid-wrapper ul{
	list-style-type:none;
	margin:1rem 0;
	padding:0;
}

.footer-instagram-link{
	display:flex;
	align-content: center;
	align-items: center;
}

.footer-icons-wrapper p{
	display:inline;
	font-family:montserrat, sans-serif;
	margin-left:10px;
}

.footer-list-wrapper a{
	color:white;
	text-decoration:none;
}
.footer-icons-wrapper, .footer-location-wrapper, .footer-hours-wrapper, .footer-contact-wrapper, .footer-help-wrapper{
	display:flex;
	flex-direction: column;
}


.footer-days-wrapper-mobile, .footer-hours-wrapper-mobile{
	display:none;
}

.footer-list-wrapper > .divider-line{
	background-color: white;
	display:none;
	width: 100%;
}


/*BUTTONS--------------------------------------------------------------------------------------------------*/
button{
	font-family:"ubuntu mono", monospace;
	font-weight:bold;
	font-size:1rem;

	color:black;
	border-radius: 0;
	border-style:solid;
	border-color:black;
	border-width:3px;
	padding:1rem 2rem;

	box-shadow: .5rem .5rem black;
	background-color:#FED10A;
	/*margin-right:1rem;*/

	/*transition: transform .2s; *//* Animation */
}

.cta-button{
	font-family:"ubuntu mono", monospace;
	font-weight:bold;
	font-size:1rem;

	color:black;
	border-radius: 0;
	border:3px solid black;
	padding:1rem;

	box-shadow: .5rem .5rem black;
	background-color:#FED10A;

	text-decoration: none;
	display:block;
	text-align: center;

	/*width: 200px;*/
}

.cta-button:hover{
	background-color: #D7B20E;
}

button:focus{
	outline: none;
}

button:hover{
	background-color: #D7B20E;
	cursor: pointer;
}

.receiving-buttons{
	display:flex;
	flex-direction: row;
	align-items:center;
	justify-content:center;

	font-family:"ubuntu mono", monospace;
	font-weight:bold;
	color:black;
	text-decoration:none;

	border:0.125rem solid black;
	border-radius:0.313rem;
	background:#EEEEEE;
	width:10rem;
	padding:0.625rem 2.5rem 0.625rem 2.5rem;
	margin-top:0.625rem;
	margin-right:1.25rem;

	cursor:pointer;
}

.receiving-buttons.active{
	background: #55D1B9;
}

.receiving-buttons img{
	margin-left:5px;	
}


/*INPUT FIELDS-----------------------------------------------------------------------------------------*/
input{
	font-family:"ubuntu mono", monospace;

	margin-top:.5rem;
	padding:.75rem;
	
	border-radius:10px;
	border-color:#CCC;
	border-width: 1px;

	box-shadow: .5rem .5rem;
}

input[type]:focus{
	outline:0rem;
}


input[type="address"]::placeholder{
	color:#ddd;
}

input[type="number"]{
	font-family:"ubuntu mono", monospace;

	margin-top:0;
	padding:.75rem;
	width:5rem;
	margin:0 .5rem;

	border-radius:100px;
	border: 1px solid black;

	box-shadow: none;
}

button[type]:hover{
	/*transform:scale(1.05);*/
}

button[type]:focus{
	outline:0rem;
}

button[type="reset"]{
	background-color:#c6c6c6
}

button.cta-button:focus{
	outline:0rem;
}



/* COLOR SWATCHES---------------------------------------------------------------------------- */ 

.gold{
	background-color: #FED10A;
	color: black;
}

.violet{
	background-color: #6339A1;
	color: white;
}

.white{
	background-color: white;
	border:1px solid #CCC;
	color: black;
}

.black{
	background-color: black;
	color:white;
}

.burgundy{
	background-color:#B92575;
	color:white;
}

.burgundy-light{
	background-color:#E04B8A;
}

.burgundy-white{
	background-color:#FFB6D0;
}

.main-nav.burgundy-white a{ /*used in the main nav for pages with products */
	color:black;
}

.burgundy-dark{
	background-color:#84124F;
	color:white;
}

.teal{
	background-color:#2D6E62;
	color:white;
}

.teal-light{
	background-color:#55D1B9;
}

.main-nav.teal-light a{ /* for the main nav for information pages */
	color:black;
}

.teal-white{
	background-color:#D5F3ED;
}

.teal-dark{
	background-color:#194940;
	color:white;
}

.burgundy-dark-text{
	color:#84124F;
}




/*MAIN PAGES================================================================================================*/

/*HOME(INDEX)-----------------------------------------------------------------------------------------------------*/

/*HERO*/

.index-body h2{
	font-size:4rem;
}

.hero-section h1{
	margin-bottom:1rem;
}

.hero-section{
	height:100vh;
	position: relative;
}

.hero-section button{
	margin-top:1rem;
}

.hero-section img{
	align-self: center;
}

.hero-image-wrapper{
	grid-column:1/span 6;
	padding:1rem;

	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
}

.floating-donut-gif-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height:clamp(400px, 15vh, 500px);
}

.hero-donut-main{
	position:relative;
	left:0;
	bottom:1rem;
	width:100%;
}

.hero-donut-small{
	position:relative;
	top:6rem;
	width:80%;
}

.donut-shadow{
	position: relative;
	z-index: 0;
	height: 30px;
	border-radius: 50%;
	filter:blur(20px);
	opacity: .5;
	width:75%;
}

.small{
	width:60%;
}

.hero-cta-wrapper{
	grid-column:7/span 6;
	padding:1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:100%;
}

.hero-cta-wrapper a{
	align-self: flex-start;
}

.scroll-indicator-container{
	display: block;
}

.scroll-indicator-container a{
	position: relative;
	z-index: 20;
}

.scroll-indicator-wrapper{
	display: grid;
	grid-template-rows:2fr 1.5fr 1fr;

	position: sticky;
	bottom:0;
	width: 100%;
	height:60px;
}

.scroll-indicator{
	width:100%;
}

.scroll-arrow{
	font-size:1.5rem;
	text-align: center;


	color:black;
	position:absolute;
	left:calc(50% - 2rem);
	padding:1.5rem;

	text-decoration: none;
 
	transition: all .2s ease-out;
}

.scroll-arrow:hover{
	color: white;
	transform: scale(1.2);
}

/*VALUE PROPOSITION*/

.value-proposition-section h2{
	font-size:2rem;
}

.value-proposition-section{
	grid-column:1/span 12;
	padding:12rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.donut-grid-wrapper{
	grid-column:1/span 6;
	padding:1rem;
	margin:auto;
	display: flex;
	flex-direction: column;
}

.donut-grid-wrapper img{
	width:80%;
}

.value-proposition-cta-wrapper{
	grid-column:7/span 6;
	padding:1rem;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.value-proposition-cta-wrapper h2{
	margin-bottom: 0;
}

.value-proposition-cta-wrapper p{
	width:clamp(45ch, 100%, 75ch);
}

.value-proposition-cta-wrapper a{
	align-self: flex-start;
}

/*RECOMMENDATION*/

.recommendation-section{
	grid-column:1/span 12;
	padding: 10rem 0;
	display: flex;
	align-content: center;
}
 
.recommendation-section h2{
	margin-top:0;
	text-align: center;	
	align-content: center;
	display: block;
}

.recommendation-section > .main-grid-container{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.featured-products-wrapper{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1;
	width:100%;
	margin:0 auto;
}

.featured-products-wrapper img{
	width:clamp(150px, 100vw, 230px);
}

.recommended-donut-wrapper{
	text-align: center;
	margin:0 1.25rem;
}

.recommendation-section button, a{
	margin:0;
}


/*SOCIAL MEDIA*/

.social-media-section{
	padding:4rem 0;
}

.social-media-section h2{
	margin:0;
}

.social-media-section h3{
	margin-top:1rem;
}

.carousel-container{
	position: relative;
	min-height: 200px;
	width: clamp(18.75rem,80%,100rem);
	margin:4rem auto 0 auto;
}

.carousel-container .carousel-inner{
	overflow:hidden;
}

.slider{
	display: flex;
	padding-bottom: 2rem;
}

.social-media-card-wrapper{
	width: 240px;
	border: 1px solid #ccc;
	flex-shrink: 0;
	margin:0 2rem;
	display: grid;

	/*height:100%;*/

	box-shadow: 1rem 1rem black;
}

.social-media-card-image{
	width:100%;
	height:100%;
}

.social-media-card-text{
	padding:.5rem 1rem;
}

.social-media-card-footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:0 1rem;
}

.carousel-nav .button{
	border:1px solid #aaa;
	border-radius: 50%;
	padding:1rem;
	width: 5rem;

	cursor: pointer;	

	position:absolute;
	top:50%;
	transform:translateY(-50%);
}

.carousel-nav .prev{
	left:-30px;
}

.carousel-nav .next{
	right:-30px;
}

/*.slider{
	display: flex;
}

.slider{
	display: flex;
	overflow: hidden;
	padding-bottom:2rem;
}

.social-media-section{
	grid-column:1/span 12;
	padding:10rem 0;
}

.social-media-section h2{
	margin: 0;
}

.social-media-section h3{
	margin-top: 0;
}

.social-media-card-wrapper{
	flex-shrink: 0;

	display: grid;

	margin:0 3rem;
	width:100%;
	height:100%;
	box-shadow: 1rem 1rem black;
}

.social-media-card-wrapper img{
	align-self: center;
}

.social-media-card-image{
	align-self: center;
	min-width: 250px;
	width:100%;
	height: 100%;
}

.social-media-card-wrapper .social-media-card-text {
	display: flex;
	padding:.5rem 1rem;
	justify-content: stretch;
	height:100%;
	border:1px solid blue;
}

.hashtag{
	color:blue;
}

.social-media-card-footer{
	padding:.25rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}*/

/*MAIN CTA*/

.main-cta-section{
	grid-column:1/span 12;
}

.main-cta-section > .main-grid-container{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
	margin:0 auto;
	padding:2rem 0;
}


/* #ABOUT US-----------------------------------------------------------------------------------------------------*/

.about-us-section{
	overflow: hidden;
	position: relative;
	text-align: center;
}

.about-us-section h1{
	position: relative;
	z-index: 2;
	margin-top:5rem;
	margin-bottom: 2rem;
}

.about-us-section > .main-grid-container{
	position: relative;
}

.signature{
	display: block;
	width:max(30%,150px);
}

.message{
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	background-color: rgba(255,255,255,.75);
	padding:3rem 2rem;
	width:clamp(30ch, 65%, 65ch);
	line-height: 1.2rem;
	height:auto;
	margin:2rem auto 5rem auto;
}

.message p{
	margin-bottom: 1.2rem;
}

.floating-donut{
	position:absolute;
	z-index: 1;
	width:clamp(120px, 20vw, 160px);
}

.one{
	bottom:150px;
	left:-200px;
}

.two{
	top:0;
	left:0;
}

.three{
	bottom:-110px;
	left:200px;
}

.four{
	right:100px;
	top:100px;
}

.five{
	right:50px;
	bottom:-200px;
}

.six{
	right:-220px;
	bottom:100px;
}

/*FAQ-----------------------------------------------------------------------------------------------------*/

.faq-section{
	padding:5rem 0; 
}

.faq-section h1{
	/*margin-top:10rem;*/
}

.faq-section .main-grid-container{
	display: flex;
	flex-direction: column;
}

ol{
	font-family: 'balloon-urw-drop-shadow', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 3rem;
    list-style-type: none;
}

ol li{
	counter-increment: custom;
	margin-bottom:2rem;
}

ol li:before{
    content: counter(custom) " ";   
}

ol li:first-child {
    counter-reset: custom;
}

.faq-accordion-wrapper{
	display: flex;
	align-items: center;
	width:clamp(300px, 70%, 1000px);
}

.faq-question{
	position: relative;

	font-family: 'montserrat', 'sans-serif';

	box-shadow: .5rem .5rem #11362F;
	padding:0 1rem;
	margin-left:2rem;
	
	display: flex;
	justify-content: space-between;
	align-items: center;

	width:100%;
	height: 100%;

	transition: all .2s;
}

.faq-question:hover .faq-answer{
	opacity: 1;
	visibility: visible;
}

.faq-question:hover .arrow{
	color:black;
	transform: rotateX(180deg);
}

.faq-question h3, p{
	display: inline;
}

.faq-answer{
	transition: all .2s;

	opacity: 0;
	visibility: hidden;

	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width:100%;

	box-shadow: .5rem .5rem #11362F;
	padding:0 1rem;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow{
	position: relative;
	z-index: 4;

	font-family: 'montserrat', 'sans-serif';
	margin: 0 1rem;
	position: relative;
	right:0;
	color:#FED10A;

	transition: all .2s;
}


/*SHOP-----------------------------------------------------------------------------------------------------*/

.shop-heading{
	grid-column: 1/span 12;
	padding-bottom: 2rem;
	padding-top: 5rem;
}

.shop-info-wrapper{
	grid-column: 1/span 3;
}

.shop-info-grid{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
}

.symbol-legend-vegan{
	grid-column: 1/span 2;
	grid-row:1;
	display:flex;
	align-items: center;
}

.symbol-legend-gluten-free{
	grid-column: 1/span 2;
	grid-row:2;
	display:flex;
	align-items: center;
}

.legend-symbol{
	padding-right:2rem;
}

.shop-info-note{
	grid-column: 1/span 3;
	grid-row:3;
	padding-right: 2rem;
}

.product-grid-wrapper{
	grid-column: 4/span 12;
	grid-gap:1.25rem;
	padding-bottom:5rem;
}

.product-grid-grid{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
}

.product-grid-item-quantity input[type=number]::-webkit-inner-spin-button, 
.product-grid-item-quantity input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.product-grid-item{
	margin: 2.5rem 2.5rem 0 2.5rem;
}

.product-grid-wrapper{
	grid-column:4/span 12;
	display:grid;
	grid-template-columns: repeat(3, 33.3%);
}

.product-grid-item-wrapper{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	padding-bottom: 1rem;
}

.product-grid-item{
	position:relative;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	z-index: 0;
	margin:0;
}

.product-grid-item img{
	width: clamp(10vw,100%,50vw);
	max-height: 100%;
	margin:auto;
}

.product-grid-item-description{
	position:absolute;
	color:white;
	width:100%;
	height:100%;
	border-radius: 10px;
	text-align: center;
	padding:5%;

	display:flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;

	opacity: 0;
	transition: opacity .2s;
}

.product-grid-item-description p{
	margin-top:0;
}

.product-grid-item-description:hover{
	opacity: 1;

	display:flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;

	background-color: rgba(0,0,0,0.7);
}

.product-grid-item-dietary{
	display:inline;
}

.vegan{
	display:inline;
	color:#64D9C2;
}

.gluten-free{
	display:inline;
	color:#FFF5C0;
}

.product-grid-item-info{
	display:flex;
	justify-content: center;
	align-content: center;
}
.product-grid-item-info img{
	align-self: center;
	margin-left:.5rem;
}

.product-grid-item-quantity {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type="number"]{
	font-family:"ubuntu mono", monospace;

	text-align: center;

	margin-top:0;
	padding:.5rem;
	width:3rem;
	margin:0 .5rem;

	border-radius:5px;
	border: 1px solid #CCC;

	box-shadow: none;
}

input[type="number"]::placeholder{
	color:#ddd;
}

button[type="quantity"]{
	font-family:"ubuntu mono", monospace;
	font-weight:bold;
	font-size:1rem;
	color:black;

	width:2rem;
	height:2rem;
	border:none;
	border-radius: 50%;
	padding:0rem;
	background-color:#FED10A;
	box-shadow:none;
	margin-right:0;

	/*transition: transform .2s;*/ /* Animation */
}

.order-tracker-bar-wrapper{
	grid-column: 1/span 12;
	grid-row:3;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	bottom:0;
	position:sticky;
}

.order-tracker-bar-wrapper h3,
.order-tracker-bar-wrapper h4{
	margin:0;
	padding-left:5.5rem;
}

.order-tracker-bar-wrapper h3{
	font-weight:600;
}

.order-tracker-bar-wrapper h4{
	font-weight:500;
}

.order-tracker-bar-wrapper h4{
	font-size:1rem;
}

.order-tracker-bar-wrapper .cta-button{
	margin-right: 5.5rem;
	cursor:pointer;
}


/*CART---------------------------------------------------------------------------------------------------*/
.product-order-box-overview-wrapper{ 
	margin-top: 5rem;
	margin-bottom:8rem;
	padding:2.5rem;
	grid-column: 1/span 6;
}

.product-order-box-overview-grid{
	display:grid;
	grid-template-columns:repeat(6,1fr);
}

.left-arrow{
	color:#84124F;
	grid-column-start: 9;
	padding-left:0;
	font-family: ubuntu mono, monospace;
	margin-right:0.938rem;
}

.right-arrow{
	color:#84124F;
	grid-column-start: 9;
	padding-left:0;
	font-family: ubuntu mono, monospace;
	margin-left:0.938rem;
}

.product-order-box-overview-return{
	grid-column:1/span 6;
	margin-left:3rem;
	display:flex;
	flex-direction:row;
	align-items: baseline;
}

.product-order-box-overview-donuts{
	grid-column:1/span 6;
	/*display:flex;
	flex-direction:row;*/
	/*justify-content:center;*/
	/*align-content:center;*/
}

.product-order-box-overview-counter{
	grid-column:1/7;
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items:baseline;
}

.product-order-box-overview-donuts img{
	width:clamp(10vw, 100%, 50vw);
	max-height:100%;
	margin:auto;
}

.product-order-box-overview-return p{
	margin-top:0rem;
	margin-bottom:0rem;
	font-weight:bold;
	font-scale:1.5rem;
}

.product-order-box-overview-counter p{
	margin-top:0rem;
}

.product-order-box-overview-return a, .product-order-box-overview-counter a{
	text-decoration: none;
	color:#84124F;
}

.product-order-donut-counters-wrapper{
	margin-top: 5rem;
	margin-bottom:7rem;
	grid-column: 7/span 12;
	padding:1.5rem;
}

.product-order-donut-counters-wrapper .cta-button{
	margin-top: 2rem;
	grid-row:5;
	cursor:pointer;
}

.product-order-donut-counters-grid{
	display:grid;
	grid-template-columns:repeat(3,33%);
	grid-template-rows:repeat(5, auto);
	grid-gap: 1.25rem;
}

.product-name input[type=number]{
	  margin:0;
}

.product-name input[type=number]::-webkit-inner-spin-button{
	  opacity: .5;
}

.product-name input[type=number]::-webkit-inner-spin-button:hover,
.product-name input[type=number]::-webkit-inner-spin-button:active {
	  opacity: 1;
}

.product-order-donut-counters-grid h2{
	grid-column: 1/span 5;
	grid-row:1;
	color:#84124F;
	margin-bottom:0.5rem;
	font-weight:bold;
}

.product-order-donut-counters-grid h4{
	grid-column:1;
	grid-row:2;
	margin-top:0;
	font-weight:600;
}

.product-order-donut-counters-grid h3{
	grid-column:1/span 3;
	grid-row:3;
	color:#84124F;
	font-weight:600;
	margin-top:0;
	margin-bottom:1rem;
}

.small-window-text h2{
	color:#84124F;
	margin-bottom:0.5rem;
	font-weight:bold;
}

.small-window-text h4{
	margin-top:0;
	font-weight:600;
}

.small-window-text h3{
	color:#84124F;
	font-weight:600;
	margin-top:0;
	margin-bottom:1rem;
}

.small-window-text{
	visibility: hidden;
	position:fixed;
}

.product-order-donut-counters-left{
	grid-column:1;
	grid-row:4;
}

.product-order-donut-counters-center{
	grid-column:2;
	grid-row:4;
}

.product-order-donut-counters-right{
	grid-column:3;
	grid-row:4;
}

.product-name{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 0;
	margin-bottom: 1rem;
}

.product-name label{
	font-family: ubuntu mono, monospace;
	margin:0;
}



/*CHECKOUT PAGE----------------------------------------------------------------------------------*/
/*Top container (mobile)*/
#header-dropdown-mobile{
	grid-column:1/19;
	display:none;
}

#header-dropdown-mobile.active{
	display:block;
}

#header-dropdown-mobile .checkout-product-preview-menu.mobile{
	margin-top:0;
}

#header-dropdown-mobile .checkout-product-preview-menu.mobile > .product-name-and-value p{
	margin-top:0.625rem;
}

.top-mobile-menu .divider-line{
	margin:0;
	width:100%;
}

#header-dropdown-mobile .top-checkout{
	/*margin-bottom:0.625rem;*/
}

#header-dropdown-mobile .subtotal-name-and-value, .total-value{
	margin-top:0.625rem;
}

#header-dropdown-mobile .top-checkout > .divider-line{
	margin-top:0.625rem;
	margin-bottom:0.625rem;
}


#header-dropdown-mobile .product-name-and-value p, .subtotal-name-and-value p, .total-value p, .shipping-name-and-value p{
	margin-left:2rem;
	margin-right:2rem;
}



/*Right side container*/
.checkout-product-preview-menu{	
	padding:5rem 6.25rem 2.5rem 5.625rem;
	position:sticky;
	top:0;
}

.checkout-product-preview-wrapper{
	
	display:grid;
	grid-template-columns: 1fr;
}

.top-checkout p{
	font-family:montserrat, sans-serif;
	font-weight:600;
	font-size:1.125rem;
	margin-left:1.25rem;
}

.top-checkout > .divider-line{
	width:100%;
}

.bottom-checkout{
	margin-top:1.5rem;
}

.bottom-checkout > .divider-line{
	width:100%;
}

.product-name-and-value{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:1.25rem;
	/*width:25rem;*/
}

.subtotal-name-and-value{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:1.25rem;
}

.shipping-name-and-value{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:1.25rem;
}

.total-value{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:1.25rem;
}

.top-checkout img{
	width:clamp(10vw, 50%, 50vw);
	max-height:100%;
	margin:auto;
}

.product-name-and-value p, .subtotal-name-and-value p, .shipping-name-and-value p{
	font-family:montserrat, sans-serif;
	font-size:1.125rem;
	color:white;
	margin-top:0rem;
	margin-bottom:0.625rem;
}

.total-value p{
	font-family:montserrat, sans-serif;
	font-size:1.125rem;
	font-weight:bold;
	color:white;
	margin-top:0rem;
}

/*Left Side Container*/


/*Checkout Header*/
#header-checkout-mobile{
	grid-column:2/7;
}

#header-bar-mobile{
	grid-column:1/19;
}

.header-bar-mobile-wrapper{
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin-top:1.25rem;
	padding-left:1.25rem;
	padding-right:1.25rem;
}

.header-bar-mobile-wrapper h3{
	font-weight:600;
	font-size:1.25rem;
}

.text-information{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	text-align:left;
}

.text-information p{
	font-family:montserrat, sans-serif;
	font-size:1rem;
}

.price-information{
	display:flex;
	flex-direction:row;
	justify-content: flex-end;
	align-items:center;
}

.date-and-time-header{
	grid-column:1/9;
}

.date-and-time-header-mobile{
	grid-column:1/9;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items:space-between;
	visibility:hidden;
	position:fixed;
}

.date-and-time-header-mobile > .divider-line{
	width:clamp(5%, 100%, 28%);
}

.left-side-menu h4{
	margin-top:2.5rem;
	margin-bottom:0.625rem;
}

.left-side-menu input[type="text"], input[type="text-first"], input[type="text-second"], input[type="text-second-payment"], input[type="text-second-payment-mobile"], input[type="text-third"],  
#credit-card-input,#cvv-input {
	box-shadow: .25rem .25rem;
	width:100%;
	margin-top:0;
	margin-bottom:0.938rem;
}

.left-side-menu input[type="text-first"], input[type="text-second"], input[type="text-second-payment"], input[type="text-second-payment-mobile"]{
	margin-right:1.25rem;
}

.left-side-menu input[type="text-second-payment"], input[type="text-third"], #cvv-input{
	width:50%;
}

.left-side-menu input[type="text-second-payment-mobile"]{
	width:50%;
}

.header-checkout-breadcrumbs{
	margin:0.625rem 0 0 0;
	padding-left:0;
}

.header-checkout-breadcrumbs a{
	color:#FED10A;
}

.header-checkout-breadcrumbs li{
	font-family: "ubuntu mono", monospace;
	list-style: none;
	display:inline-block;

}

.breadcrumbs-item:not(:last-of-type)::after{
	content: '\203a';
	margin:0 0.313rem;
	color:black;
}

/*Receiving method*/
#receiving-method h4{
	margin-top:1.5rem;
}

.receiving-method-buttons{
	display:flex;
	flex-direction: row;
}


/*radio button version of receiving method*/
.receiving-method-buttons-radio{
	display:flex;
	flex-direction:row;
}

.receiving-method-buttons-radio label{
	cursor:pointer;
}

.pickup-method-selection{
	font-family:"ubuntu mono", monospace;
	font-weight:bold;
	color:black;
	text-decoration:none;

	border:0.125rem solid black;
	border-radius:0.313rem;
	background:#EEEEEE;
	width:10rem;
	padding:0.625rem 2.5rem 0.625rem 2.5rem;
	margin-top:0.625rem;
	margin-right:1.25rem;
}

.pickup-method-selection input{
	opacity:0;
	position:fixed;
}

.pickup-method-selection input{
	opacity:0;
	position:fixed;
}

.pickup-method-selection img{
	margin-left:10px;
}

.delivery-method-selection{
	font-family:"ubuntu mono", monospace;
	font-weight:bold;
	color:black;
	text-decoration:none;

	border:0.125rem solid black;
	border-radius:0.313rem;
	background:#EEEEEE;
	width:10rem;
	padding:0.625rem 2.5rem 0.625rem 2rem;
	margin-top:0.625rem;
	margin-right:1.25rem;
}

.delivery-method-selection input{
	opacity:0;
	position:fixed;
}

.delivery-method-selection img{
	margin-left:10px;
}

/*Date and Time*/
#date-and-time{
	/*display:grid;*/
	grid-template-columns: repeat(7, 1fr);
}

#date-and-time h4{
	grid-column:1/4;
	align-self: center;
}

.date-and-time-calendar{
	grid-row:2/3;
	grid-column:1/6;

	border-radius:10px;
	border-color:#CCC;
	border-width: 1px;
	border:1px solid rgb(0, 0, 0, .5);
	box-shadow: .25rem .25rem;
	width:clamp(6.25rem, 100%, 25rem);

	display:grid;
}

.date-and-time-input{
	grid-column:1/6;
	color:rgb(0, 0, 0, .2);
}

.month-name, .days-title{
	font-family:"ubuntu mono", monospace;
	font-weight:700;
	font-size:1.25rem;
	color:black;
}

.days-number{
	font-family:"ubuntu mono", monospace;
	color:black;
	font-size:1.25rem;
}

.month-arrows{
	font-family:"ubuntu mono", monospace;
	color:rgb(0, 0, 0, .5);
} 

.calendar-header{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	padding:2rem 2rem 2rem 2rem;
}

.days-title{
	padding:0.625rem;
	display:grid;
	grid-template-columns: repeat(7, 1fr);
	text-align:center;
}

.days-number{
	/*grid-row:2/3;*/
	padding:0.625rem;
	display:grid;
	grid-template-columns: repeat(7, 1fr);
	text-align:center;
	margin-bottom:2.5rem;
}

.days-number div{
	/*grid-row:2/3;*/
	padding:0.625rem;

}

.past-day{
	background:#EEEEEE;
	color:rgb(0, 0, 0, .5);
}

.active-day{
	background:#F2CA18;
}

.input-bar{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	padding:0.313rem 1.25rem;
	margin-top:1.25rem;
	margin-bottom:0;

	border-radius:10px;
	border-color:black;
	border-width: 1px;
	border:1px solid black;
	width:clamp(6.25rem, 100%, 25rem);

	order:0;
	cursor:pointer;
}

.opened{
	border-radius:10px 10px 0px 0px;
}

.select-wrapper{
	display:flex;
	flex-direction: column;
}

.time-container{
	font-family: "ubuntu mono", monospace;
	font-weight:400;
	color:black;

	border:1px solid black;
	max-height:0;
	display:none;
	overflow:hidden;
	padding-top:0.625rem;
	padding-bottom:0.625rem;
	width:clamp(6.25rem, 100%, 25rem);

	order:1;
}

.select-wrapper label{
	cursor:pointer;
}

.time-option{
	padding:0.313rem 1.25rem;
	cursor:pointer; 
}

.select-wrapper .time-container.active{
	max-height:12.5rem;
	display:block;
	overflow-y:scroll;

}

.time-option :hover{
	background:rgb(242, 202, 24, 0.5);
}

.time-option .drop-down-input{
	display:none;
}




/*Express Checkout*/
.express-images{
	width:clamp(1.25rem, 100%, 3.75rem);
	height:auto;
}

.info-express-buttons{
	display:flex;
	flex-direction:row;
}

.info-express-buttons button{
	width:100%;
	margin-top:1.25rem;
	margin-bottom:1.25rem;
	cursor:pointer;
	padding-right:clamp(0.063rem, 75%, 1rem);
	padding-left:clamp(0.063rem, 75%, 1rem);
}

button[type="express-first"], button[type="express-second"]{
	margin-right:2.5rem
}


/*Info*/
.info-express-checkout{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
}

.info-express-checkout-mobile{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	visibility: hidden;
	position:fixed;
}

.info-express-checkout > .divider-line{
	width:clamp(5%, 100%, 100%);
}


.info-express-checkout-mobile > .divider-line{
	width:clamp(5%, 100%, 25%);
}

.info-express-mobile-bottom{
	display:flex;
	flex-direction: row;
	align-items:center;
	visibility: hidden;
	position:fixed;
}

.info-express-checkout h4{
	width:20rem;
	margin-right:0.625rem;
}

.info-express-checkout-mobile h4{
	margin-left:0.625rem;
	margin-right:0.625rem;
}

.info-express-checkout > .divider-line.side{
	margin-top:3rem;
}

#info > .divider-line{
	width:100%;
}

.divider-line.under{
	width:100%;
}

.names-section{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}


.address-section{
	margin-top:1.25rem;
}

.address-info{
	display:flex;
	flex-direction:row;
}

.country-info{
	display:flex;
	flex-direction:row;
}

.address-section-mobile{
	margin-top:1.25rem;
	visibility:hidden;
	position:fixed;
}



/*Depending on what option is selected, pickup forms or delivery forms can be hidden*/
.info-billing-address-pickup{
	display:none;
}

.info-billing-address-pickup.active{
	display:block;
}

.info-address-delivery{
	display:none;
}

.info-billing-address-delivery{
	display:none;
}

.info-address-delivery.active{
	display:block;
}

.info-billing-address-delivery.active{
	display:block;
}


/*Payment*/
.payment-forms{
	visibility:visible;
}

.payment-forms-mobile{
	visibility:hidden;
	position:fixed;
}


.radio-button-selection{
/*	display:flex;
	flex-direction:row;
	justify-content: start;*/
	display:grid;
	grid-template-columns: 0.25fr 4fr;
	align-items:center;

	margin-top:.5rem;
	margin-bottom:1rem;
	padding:.5rem;
	
	border-radius:10px;
	border-color:#CCC;
	border-width: 1px;
	border:1px solid rgb(0, 0, 0, .5);
	box-shadow: .25rem .25rem;

}

.button-info{
	grid-column:2/4;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
}

.radio-button-selection label{
	font-family: "ubuntu mono", monospace;
	font-weight:400;
	cursor:pointer;
}

/*CUSTOM RADIO BUTTON TESTING/////////////////////////////////////////////////////////////////////////////////*/
/*.radio-button-selection label::before{
	content:"";
	border:1px solid black;
	display:inline-block;
	width:1.25rem;
	height:1.25rem;
	margin-right:1.25rem;
	border-radius:50%;
}

.radio-button-selection label::after{
	content:"";
	display:block;
	width:1.25rem;
	height:1.25rem;
	background:black;
}*/

.radio{
	display:flex;
	align-items:center;
}

.radio p{
	margin-top:0;
	margin-bottom:2px;
}

.custom-radio{
	border:1px solid rgb(0, 0, 0, .5);
	display:inline-block;
	width:1.25rem;
	height:1.25rem;
	margin-right:1.25rem;
	border-radius:50%;
	padding:3px;
}

.custom-radio::after{
	content:"";
	display:block;
	width:100%;
	height:100%;
	/*transform:translate(-0.05px, -0.05px);*/
	background:black;
	border-radius:50%;
	/*border:8px solid black;*/

	transform:scale(0);
}

.radio-button-selection input:checked + .custom-radio::after{
	transform:scale(1);
}

.radio-button-selection input{
	box-shadow:none;
	margin-top:2px;
	margin-right:0.625rem;
	cursor:pointer;

	/*display:none;*/
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.radio-button-selection img{
	margin-right:1.25rem;
}

.radio-button-selection.paypal{
	margin-top:0.125rem;
}

#credit-card-input{
	margin-left:0;
	padding:.75rem;
	text-align:left;
	border-radius:10px;
	border-color:rgb(0, 0, 0, .5);
	border-width: 1px;

	box-shadow: .25rem .25rem;
}

#cvv-input{
	font-family:"ubuntu mono", monospace;
	padding:.75rem;
	text-align:left;
	margin-left:0;
	margin-right:0;

	border-radius:10px;
	border-color:rgb(0, 0, 0, .5);
	border-width: 1px;

	box-shadow: .25rem .25rem;
}


#payment input[type=number]::-webkit-inner-spin-button, 
#payment input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

#payment ::placeholder{
	color:rgb(0, 0, 0, .5);
}

.payment-buttons{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top:3.75rem;
	margin-bottom:10rem;
}

.payment-buttons a{
	text-decoration: none;
	color:#6339A1;
	font-weight:700;
}

button[type="pay-now"]{
	margin-right:0.313rem;
	cursor:pointer;
}

button[type="pay-now"] a{
	color:black;
}

.card-info{
	display:flex;
	flex-direction:row;
}

/*CONFIRMATION PAGE ----------------------------------------------------------------------------------*/
#order-info h2{
	margin-top:3.75rem;
	margin-bottom:0rem;
}

#order-info h4{
	margin-top:1.25rem;
	margin-bottom:0rem;
}

.order-info-number p{
	margin-top:0rem;
	font-size:1.25rem;
}

.order-info-message p{
	font-size:1.25rem;
}

.order-info-message{
	margin-top:3.125rem;
}

.order-info-exit{
	display:flex;
	flex-direction:row;
	align-items:baseline;
	margin-top:3.125rem;
	margin-bottom:2.5rem;
}

.order-info-exit p{
	margin-left:1.25rem;
	font-weight:700;
	font-size:1rem;
}

.order-info-exit a{
	color:#FED10A;
}

.right-side-menu.violet.confirmation{
	height:100vh;
}

.checkout-product-preview-menu.mobile{
	margin-top:2.5rem;
	visibility: hidden;
	position:fixed;
}

/*.box-and-value{
	display:flex;
	flex-direction: row;
	justify-content: left;	
}

.box-and-value img{
}

.product-name-and-value.mobile{
	margin-left:1.25rem;
	margin-right:0;
	margin-top:2px;
	display:grid;
	grid-template-rows: 0.25fr 0.25fr 1fr
}

.product-name-and-value.mobile p{
	margin:0;
	font-weight: 400;
}*/




.product-name-and-value.mobile, .subtotal-name-and-value.mobile, .shipping-name-and-value.mobile, .total-value.mobile{
	margin-left:1.25rem;
	margin-right:1.25rem;
}


/*REFERENCES PAGE--------------------------------------------------------------------------------------------------*/
#references-header{
	grid-column:1/13;
}

#references-images-and-copywriting{
	grid-column:1/6;
}

#references-icons{
	grid-column: 7/12;
}

#references-code{
	grid-column: 1/6;
}

#references-code h2{
	margin-top:1.5rem;
}

#references-team{
	grid-column:1/13;
}

#references-team h2{
	margin-top:5rem;
	margin-bottom:1.25rem;
}

.references-background.violet a{
	color:#FED10A;
	display:block;
	font-style:normal;
}

.references-background.violet h1{
	margin-top:5rem;
}

.references-background.violet h2{
	margin-top:3rem;
	margin-bottom: 0;
}

.references-list{
	padding-left:0;
	margin-top:0.625rem;
	line-height:1.5;
}

.references-list li{
	font-family: "ubuntu mono", monospace;
	font-size:0.875rem; /*originally 1rem, but is that too big?*/
	line-height:1.5;
	padding-left:0;
	/*width:20px;*/
}


/*Team Section Animations*/
#animated-names{
	width:100%;
	overflow:hidden;
	position:relative;
}

.animated-names-wrapper{
	width:100%;
	display:flex;
}

.animated-names-wrapper a{
	color:white;
	text-decoration: none;
}

.animated-names-wrapper.top{
	padding-top:1.25rem;
}

.animated-names-wrapper.middle{
	padding-top:1.25rem;
	padding-bottom:1.25rem;
}

.animated-names-wrapper.bottom{
	padding-bottom:1.25rem;
}

.animated-names-wrapper span{
	margin:1.25rem;
}

.animated-names-wrapper div.animate-left{
	font-family: "ubuntu mono", monospace;
	font-size:1rem; 
	color:white;
	white-space: nowrap;
	animation:animate-left 40s linear infinite;
}

.animated-names-wrapper div.animate-right{
	font-family: "ubuntu mono", monospace;
	font-size:1rem; 
	color:white;
	white-space: nowrap;
	animation:animate-right 40s linear infinite;
}


@keyframes animate-left{
	0%{
		transform: translateX(0);
	}
	100%{
		transform:translate(-100%);
	}
}

@keyframes animate-right{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform:translate(0%);
	}
}



