/*GLOBAL ---------------------------------------------------------------------------------------------------------------------------------------------------*/

/*MAIN NAV BAR*/
.main-nav-wrapper{
	width:100%;	
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding: 1rem 2rem;
}

.main-nav-links{
	display:flex;
	justify-content: space-between;
	align-items:center;
}

.main-nav-links a{
	padding-top:0;
	padding-bottom:0;
}

.dippd-logo{
	display:inline-block;
	width:clamp(100px,100px,150px);
}

.cart-icon{
	background-image: url('../img/shopping-cart-icon.png');
	background-repeat: no-repeat;
	background-position:center;
	width:60px;
	height:60px;
}

.cart-icon:hover{
	background-image: url('../img/shopping-cart-icon-hover.png');
}

header{
	width:100%;
	background-color:#6339A1;	
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding: 1rem 2.5rem;
	border-bottom:.25px solid rgba(0,0,0,.3);
	z-index: 999;
}

nav a{
	color:white;
	/*display:inline-block;*/
	padding:1rem;
	text-decoration:none;
	margin-left:2rem;
}


/*TYPOGRAPHY*/

body{
	font-family:montserrat, sans-serif;
/*	background-color: #6339A1;*/
	margin:0;
	padding:0;
}

h1{
	font-size:4rem;
	margin:0;
}

h2{
	font-size:2rem;
}

h3{
	font-size:1.5rem;
	font-weight: normal;
}

h4{
	font-size:1.25rem;
	font-weight: normal;
}

h5{
	/*Look for Footer CSS*/
}

p{
	font-size:1rem;
	font-family: "ubuntu mono", monospace;
	font-weight: lighter;
}

a{
	color:#001AFF;
	display:inline-block;
	transition: transform .2s; /* Animation */
}


/*FOOTER*/
.container-footer-1600{
	display:block;
	margin:0 auto;
	width: clamp(18.75rem,80%,100rem);
}

.footer-grid-wrapper h5{
	font-family: 'montserrat', sans-serif;
	margin:0;
	font-size:1rem;
}

.footer-grid-wrapper{
	color:white;
	display:grid;
	grid-template-rows:3fr 1fr;
}

.footer-copyright-wrapper{
	text-align:center;
	grid-row:2;
	display:flex;
	align-items: center;
	justify-content: center;
	width:100%;
}

.footer-copyright-wrapper p{
	font-size:.75rem;
	width:clamp(45ch,50%,75ch);
}

.footer-list-wrapper{
	grid-row:1;
	display:flex;
	align-items: baseline;
	justify-content: space-between;
	width:100%;

	padding:3rem;
	font-family:"ubuntu mono", monospace;
	font-weight:lighter;
}

.footer-list-wrapper a:hover{
	text-decoration:underline;
}

.footer-icons-wrapper a:hover{
	text-decoration:none;
}

.footer-grid-wrapper ul{
	list-style-type:none;
	margin:1rem 0;
	padding:0;
}

.footer-instagram-link{
	display:flex;
	align-content: center;
	align-items: center;
}

.footer-icons-wrapper p{
	display:inline;
	font-family:montserrat, sans-serif;
	margin-left:10px;
}

.footer-list-wrapper a{
	color:white;
	text-decoration:none;
}
.footer-icons-wrapper, .footer-location-wrapper, .footer-hours-wrapper, .footer-contact-wrapper, .footer-help-wrapper{
	display:flex;
	flex-direction: column;
}

.footer-list-wrapper > .divider-line{
	background-color: white;
	display:none;
	width: 100%;
}

/* COLOR SWATCHES -------------------------------------------------------------------------------- */ 

.gold{
	background-color: #FED10A;
}

.violet{
	background-color: #6339A1;
	color: white;
}

.white{
	background-color: white;
	border:1px solid #CCC;
	color: black;
}

.black{
	background-color: black;
	color:white;
}

.burgundy{
	background-color:#B92575;
	color:white;
}

.burgundy-light{
	background-color:#E04B8A;
}

.burgundy-white{
	background-color:#FFB6D0;
}

.main-nav.burgundy-white a{ /*used in the main nav for pages with products */
	color:black;
}

.burgundy-dark{
	background-color:#84124F;
	color:white;
}

.teal{
	background-color:#2D6E62;
	color:white;
}

.teal-light{
	background-color:#55D1B9;
}

.main-nav.teal-light a{ /* for the main nav for information pages */
	color:black;
}

.teal-white{
	background-color:#D5F3ED;
}

.teal-dark{
	background-color:#194940;
	color:white;
}